body {
    padding: 0;
    margin: 0;
    background: #A5CBDF;
    
    /* drag 차단 */
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}

header {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    position: relative;
    height: 40px;
    border-bottom: 1px solid #6B8390;
    background: #6B8390;
    background-image: url('@/assets/img/logo.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80px 20px;
}

header h1 {
    position: absolute;
    text-align: center;
}

header ul.menu {
    margin: 5px;
    padding-left: 0px;
}

header ul.menu li {
    float: left;
    padding: 0px 7px;
    min-width: 15px;
    margin: 0px 3px;
    list-style: none;
    background: #8EA0AB;
    height: 30px;
    border-radius: 3px;
    line-height: 27px;
    font-size: 14px;
    color: white;
    font-weight: bold
}

header ul.menu li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

header ul.menu li input[type="text"] {
    background: #8EA0AB;
    border: 0px;
    height: 20px;
    margin: 3px;
    outline: none;
    color: aliceblue
}

.fa {
    color: white;
}

.itemBox {
    min-width: 250px;
    padding: 10px 5px;
    display: inline-flex;
    flex-direction: column;
    margin: 10px;
    border: 0px;
    border-radius: 3px;
    background: #E8E9EE
}

.addBox {
    cursor: pointer;
    min-width: 250px;
    font-size: 0.8rem;
    color: #031B2D;
    padding: 10px 20px;
    display: inline-flex;
    flex-direction: column;
    margin: 10px;
    border: 0px;
    border-radius: 3px;
    background:#AFC8D6;
    -webkit-text-stroke: 0.45px;
}

.addBox:hover {
    background:#9CB3BE;
}

.addBox:active {
    background:#8CA1AD;
}

.itemBox .itemHeader {
    display: inline-flex;
    justify-content: space-between;
    font-weight: 600;
    padding-left: 9px;
    padding-bottom: 5px;
}

.itemBox .itemHeader .toggle {
    padding-right:3px;
    cursor: pointer;
}

.itemBox .itemBody .dragable .item {
    margin: 6px 1px;
    border: 1px solid #eee;
    border-radius: 3px;
    box-shadow: 1px 1px 2px 0px;
    background: #FFFEFF;
    color: #808080;
    font-size: 0.9rem;
    padding: 6px 9px;
    display: flex;
    justify-content: space-between;
}

.itemBox .itemBody .dragable .item:hover{
    background: #f3f3f3;
}

.itemBox .itemFooter {
    cursor: pointer;
    display: inline-flex;
    justify-content: space-between;
    font-size: 0.8rem;
    font-weight: 570;
    color: #808080;
}

.itemFooter .btnBox {
    padding: 5px 15px;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

.itemFooter .regBox {
    margin: 0 !important;
}

.itemBox .itemFooter:hover {
    background:#C0C0C0;
}

.itemBox .itemFooter:active {
    background:#B0B0B0;
}

.regBox {
    min-width: 250px;
    padding: 5px 5px;
    display: inline-flex;
    flex-direction: column;
    margin: 10px;
    border: 0px;
    border-radius: 3px;
    background: #E8E9EE
}

.regBox input[type="text"]{
    border: 2px solid #5F81A3;
    border-radius: 3px;
    padding: 5px;
    margin-bottom:2px;
}

.regBox .addBtn {
    cursor: pointer;
    color:white;
    padding:7px 12px;
    background: #52A33E;
    border: 0px;
    border-radius: 3px;
}
.regBox .cancleBtn {
    font-weight: 800;
    font-size: 1.0rem;
    padding:7px 12px;
}
